.find-cep-container{
    margin-left: 20px;

    button{
        margin-right: 20px;
    }

    .uf-field{
        width: 400px;
        margin-bottom: 20px;
    }

    .inputs-container{
        display: flex;
        flex-direction: column;

        input{
            width: 400px;
            margin-bottom: 20px;
        }
    }
}